.link {
	position: relative;
	display: inline-block;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: color var(--short);
  }
  
  
  .link::before {
	content: "";
	position: absolute;
	left: -6px;
	right: -6px;
	top: -3px;
	bottom: -3px;
	background-color: var(--violet-dark);
	transform: scaleX(0);
	transform-origin: center;
	transition: var(--short);
  }
  
  .link:hover {
	color: var(--violet-light);
  }
  
  .link:focus {
	outline: none;
  }
  
  .link:focus:not(:hover):not(:active):before {
	transform: scaleX(1);
  }
  
  .link:active {
	color: var(--violet-dark);
	transition: none;
  }
  
  .link__text {
	position: relative;
  }

  .link__icon {
	width: 100%;
  }

  .link--text-dark {
	color: var(--violet-middle);
  }

  .link--text-dark:hover {
	color: var(--violet-dark);
  }

  .link--text-dark:focus:not(:hover):not(:active) {
	color: var(--white);
  }

  .link--text-dark::before {
	left: -8px;
	right: -8px;
	bottom: -7px;
	background-color: var(-violet-middle);
  }

  .link--text-dark:focus::after {
	transform: scaleX(1);
  }

  .link--text-dark:active {
	color: var(--dark);
  }

  