<html lang="ru"><head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blanchard2</title>
	<link href="CSS/normalize.css" rel="stylesheet">
	<link href="CSS/simplebar.css" rel="stylesheet">
	<link href="CSS/swiper@7.min.css" rel="stylesheet">
	<link href="CSS/style.css" rel="stylesheet">

	<script src="js/settings.js" defer=""></script>
	<script src="js/simplebar.js" defer=""></script>
	<script src="js/swiper@7.min.js" defer=""></script>
	<script src="js/dropdowns.js" defer=""></script>
	<script src="js/toggle-form.js" defer=""></script>
	<script src="js/burger.js" defer=""></script>
	<script src="js/scroll.js" defer=""></script>
	<script src="js/top-wrapper-swiper.js" defer=""></script>
	<script src="js/choices.min.js" defer=""></script>
	<script src="js/gallery.js" defer=""></script>
</head>

<body>
	<h1 class="visually-hidden">Blanchard2 -виртуальная художественная галерея</h1>
	<div class="top-wapper">
		<header class="header top-wapper__header">
			<div class="header__top">
				<div class="container header__container">
					<button class="header__burger burger js-burger" type="button" aria-label="Открыть главное меню" aria-expanded="false">
						<span class="burger__line"></span>
					</button>

					<a class="header__logo logo">
						<img class="logo__image" src="img/blanchaard-logo.svg" alt="логотип-blanchard" width="97" height="22">
					</a>

					<nav class="header__nav js-menu-wrap">
						<ul class="header__menu reset-list">
							<li class="header__nav-item">
								<a class="header__nav-link link js-menu-link js-scroll-link" href="#"><span class="header__link-text link__text">О&nbsp;нас</span></a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link link js-menu-link js-scroll-link" href="#"><span class="header__link-text link__text">Галерея</span></a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link link js-menu-link js-scroll-link" href="#"><span class="header__link-text link__text">Каталог</span></a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link link js-menu-link js-scroll-link" href="#"><span class="header__link-text link__text">События</span></a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link link js-menu-link js-scroll-link" href="#"><span class="header__link-text link__text">Проекты</span></a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link link js-menu-link js-scroll-link" href="#"><span class="header__link-text link__text">Контакты</span></a>
							</li>

						</ul>
						<div class="header__service-links">
							<a class="header__account link" href="#">
								<span class="header__account-content link__text">
									<svg class="header__account-arrow" width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z" fill="currentColor"></path>
									</svg>
									<span class="header__link-text">Войти</span>
								</span>
							</a>
						</div>
					</nav>

					<button class="header__search-btn header__search-btn--open link js-open-search" type="button" aria-label="Открыть форму поиска">
						<svg class="link__text link__icon" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="6.8678" height="1.71695" transform="matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)" fill="currentColor"></rect>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M12.0967 18C7.53016 18 3.99668 14.3229 3.99668 10C3.99668 5.67715 7.53016 2 12.0967 2C16.6632 2 20.1967 5.67715 20.1967 10C20.1967 14.3229 16.6632 18 12.0967 18ZM12.0967 20C6.57383 20 2.09668 15.5228 2.09668 10C2.09668 4.47715 6.57383 0 12.0967 0C17.6195 0 22.0967 4.47715 22.0967 10C22.0967 15.5228 17.6195 20 12.0967 20Z" fill="currentColor"></path>
						</svg>

					</button>


					<form class="header__search js-search-form" action="/">
						<input class="header__search-input" type="text" placeholder="Поиск по сайту">
						<button class="header__search-btn header__search-btn--submit link" type="submit" aria-label="Выполнить поиск">
							<svg class="link__text link__icon" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="6.8678" height="1.71695" transform="matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)" fill="currentColor"></rect>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M12.0967 18C7.53016 18 3.99668 14.3229 3.99668 10C3.99668 5.67715 7.53016 2 12.0967 2C16.6632 2 20.1967 5.67715 20.1967 10C20.1967 14.3229 16.6632 18 12.0967 18ZM12.0967 20C6.57383 20 2.09668 15.5228 2.09668 10C2.09668 4.47715 6.57383 0 12.0967 0C17.6195 0 22.0967 4.47715 22.0967 10C22.0967 15.5228 17.6195 20 12.0967 20Z" fill="currentColor"></path>
							</svg>
						</button>
						<button class="header__search-btn header__search-btn--close link js-close-search" type="button" aria-label="Закрыть форму поиска">
							<svg class="link__text link__icon" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="29.567" height="2.9567" transform="matrix(0.707093 0.707121 -0.707093 0.707121 2.09375 0)" fill="currentColor"></rect>
								<rect width="29.567" height="2.9567" transform="matrix(0.707093 -0.707121 0.707093 0.707121 0 20.9074)" fill="currentColor"></rect>
							</svg>

						</button>
					</form>
				</div>
			</div>

			<div class="header__bottom">
				<div class="container header__container">
					<ul class="header__bottom-menu reset-list">
						<li class="header__bottom-item">
							<buttom class="link header__bottom-btn js-header-dropdown-btn" data-path="one">
								<span class="link__text header__bottom-link-text">Реализм</span>
							</buttom>

							<div class="header__dropdown js-header-drop" data-target="one">
								<div class="header__dropdown-wrap" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
									<ul class="reset-list">
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Tintoretto-link.jpg');">
												<span class="header__dropdown-link-text">ТинторретоТинторретоТинторрето</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Fridrih-link.jpg');">
												<span class="header__dropdown-link-text">Фридрих</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Lionardo-link.jpg')">
												<span class="header__dropdown-link-text">Леонардо</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Verrokkio-link.jpg');">
												<span class="header__dropdown-link-text">Тинторрето</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Tintoretto-link.jpg');">
												<span class="header__dropdown-link-text">Тинторрето</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Tintoretto-link.jpg');">
												<span class="header__dropdown-link-text">Тинторрето</span>
											</a>
										</li>
									</ul>
								</div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
							</div>

						</li>
						<li class="header__bottom-item">
							<buttom class="link header__bottom-btn js-header-dropdown-btn" data-path="two">
								<span class="link__text header__bottom-link-text">Импрессионизм</span>
							</buttom>

							<div class="header__dropdown js-header-drop" data-target="two">
								<div class="header__dropdown-wrap" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
									<ul class="reset-list">
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/Monne-link.jpg');">
												<span class="header__dropdown-link-text">МонеМонеМонеМонеМонеМонеМонеМонеМоне</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--fridrih" href="#" style="background-image:url('img/Sisley-link.jpg');">
												<span class="header__dropdown-link-text">Сислей</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--leo" href="#" style="background-image:url('img/Manne-link.jpg')">
												<span class="header__dropdown-link-text">Мане</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/Renuar-link.jpg');">
												<span class="header__dropdown-link-text">Ренуар</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/Renuar-link.jpg');">
												<span class="header__dropdown-link-text">Ренуар</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/Renuar-link.jpg');">
												<span class="header__dropdown-link-text">Ренуар</span>
											</a>
										</li>
									</ul>
								</div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
							</div>

						</li>
						<li class="header__bottom-item">
							<buttom class="link header__bottom-btn js-header-dropdown-btn" data-path="three">
								<span class="link__text header__bottom-link-text">Постимпрессионизм</span>
							</buttom>

							<div class="header__dropdown js-header-drop" data-target="three">
								<div class="header__dropdown-wrap" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
									<ul class="reset-list">
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/VanGog-link.jpg');">
												<span class="header__dropdown-link-text">Ван Гог</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--fridrih" href="#" style="background-image:url('img/Sezann-link.jpg');">
												<span class="header__dropdown-link-text">Сезанн</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--leo" href="#" style="background-image:url('img/Gogen-link.jpg')">
												<span class="header__dropdown-link-text">Гоген</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/Sera-link.jpg');">
												<span class="header__dropdown-link-text">Сера</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/Sera-link.jpg');">
												<span class="header__dropdown-link-text">Сера</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link header__dropdown-link--tintoretto" href="#" style="background-image:url('img/Sera-link.jpg');">
												<span class="header__dropdown-link-text">Сера</span>
											</a>
										</li>
									</ul>
								</div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
							</div>

						</li>
						<li class="header__bottom-item">
							<buttom class="link header__bottom-btn js-header-dropdown-btn" data-path="four">
								<span class="link__text header__bottom-link-text">Авангард</span>
							</buttom>

							<div class="header__dropdown js-header-drop" data-target="four">
								<div class="header__dropdown-wrap" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
									<ul class="reset-list">
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Kandinskiy-link.jpg');">
												<span class="header__dropdown-link-text">Кандинский</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Marinetti-link.jpg');">
												<span class="header__dropdown-link-text">Маринетти</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Malevich-link.jpg')">
												<span class="header__dropdown-link-text">Малевич</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Picasso-link.jpg');">
												<span class="header__dropdown-link-text">Пикассо</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Picasso-link.jpg');">
												<span class="header__dropdown-link-text">Пикассо</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Picasso-link.jpg');">
												<span class="header__dropdown-link-text">Пикассо</span>
											</a>
										</li>
									</ul>
								</div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
							</div>

						</li>
						<li class="header__bottom-item">
							<buttom class="link header__bottom-btn js-header-dropdown-btn" data-path="five">
								<span class="link__text header__bottom-link-text">Футуризм</span>
							</buttom>

							<div class="header__dropdown js-header-drop" data-target="five">
								<div class="header__dropdown-wrap" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
									<ul class="reset-list">
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Karra-link.jpg');">
												<span class="header__dropdown-link-text">Карра</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Pratella-link.jpg');">
												<span class="header__dropdown-link-text">Прателла</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Severini-link.jpg')">
												<span class="header__dropdown-link-text">Северини</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Balla-link.jpg');">
												<span class="header__dropdown-link-text">Балла</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Balla-link.jpg');">
												<span class="header__dropdown-link-text">Балла</span>
											</a>
										</li>
										<li class="header__dropdown-item">
											<a class="header__dropdown-link" href="#" style="background-image:url('img/Balla-link.jpg');">
												<span class="header__dropdown-link-text">Балла</span>
											</a>
										</li>
									</ul>
								</div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</header>

		<section class="hero top-wapper__hero">
			<div class="container">
				<div class="hero__content">
					<h2 class="hero__title">Прикоснитесь к&nbsp;прекрасному</h2>
					<p class="hero__text">Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что&nbsp;реализация намеченных плановых заданий создаёт предпосылки для&nbsp;новых предложений</p>
					<a class="hero__btn btn btn--fill" href="#">Подписаться на&nbsp;рассылку</a>
				</div>
			</div>
		</section>

		<div class="top-wrapper__slider js-back-slider swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-android swiper-watch-progress swiper-backface-hidden">
			<div class="swiper-wrapper" id="swiper-wrapper-01969492f73544cf" aria-live="off" style="transition-duration: 10000ms;"><div class="top-wrapper__slide top-wrapper__slide--1 swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 1920px; transition-duration: 10000ms; opacity: 1; transform: translate3d(0px, 0px, 0px);"></div>
				<div class="top-wrapper__slide top-wrapper__slide--1 swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 1920px; transition-duration: 10000ms; opacity: 1; transform: translate3d(-1920px, 0px, 0px);"></div>
				<div class="top-wrapper__slide top-wrapper__slide--1 swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 1920px; transition-duration: 10000ms; opacity: 1; transform: translate3d(-3840px, 0px, 0px);"></div>
				<div class="top-wrapper__slide top-wrapper__slide--1 swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 1920px; transition-duration: 10000ms; opacity: 1; transform: translate3d(-5760px, 0px, 0px);"></div>
			<div class="top-wrapper__slide top-wrapper__slide--1 swiper-slide swiper-slide-duplicate swiper-slide-visible swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 1920px; transition-duration: 10000ms; opacity: 1; transform: translate3d(-7680px, 0px, 0px);"></div></div>
		<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
	</div>

	<section class="about">
		<div class="container">
			<h2 class="about__title section-title">О нас</h2>
			<p class="about__text text">
				Ясность нашей позиции очевидна: семантический разбор внешних противодействий однозначно определяет каждого участника как&nbsp;способного принимать собственные решения касаемо распределения внутренних резервов и&nbsp;ресурсов. Не&nbsp;следует, однако, забывать, что&nbsp;высококачественный прототип будущего проекта влечёт за&nbsp;собой процесс внедрения и&nbsp;модернизации модели развития. Повседневная практика показывает, что&nbsp;высокое качество позиционных исследований создаёт необходимость включения в&nbsp;производственный план целого ряда внеочередных мероприятий с&nbsp;учётом комплекса распределения внутренних резервов и&nbsp;ресурсов. В&nbsp;рамках спецификации современных стандартов, действия представителей оппозиции набирают популярность среди определённых слоёв населения, а&nbsp;значит, должны быть разоблачены.
			</p>
		</div>
	</section>

	<section class="gallery">
		<div class="container">
			<div class="gallery__content-wrap">
				<div class="gallery__left">
					<h2 class="section-title">Галерея</h2>
                <div class="gallery__filter"> 
					<h3 class="gallery__filter-title">Фильтер:</h3>
					<div class="filter-choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="filter-choices__inner"><select class="js-gallery-choices filter-choices__input" hidden="" tabindex="-1" data-choice="active"><option value="painting" data-custom-properties="[object Object]">Живопись</option></select><div class="filter-choices__list filter-choices__list--single"><div class="filter-choices__item filter-choices__item--selectable" data-item="" data-id="1" data-value="painting" data-custom-properties="[object Object]" aria-selected="true">Живопись</div></div></div><div class="filter-choices__list filter-choices__list--dropdown" aria-expanded="false"><div class="filter-choices__list" role="listbox"><div id="choices--y7i2-item-choice-1" class="filter-choices__item filter-choices__item--choice is-selected filter-choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="painting" data-select-text="" data-choice-selectable="" aria-selected="true">Живопись</div><div id="choices--y7i2-item-choice-2" class="filter-choices__item filter-choices__item--choice filter-choices__item--selectable" role="option" data-choice="" data-id="2" data-value="drawing" data-select-text="" data-choice-selectable="">Рисунок</div><div id="choices--y7i2-item-choice-3" class="filter-choices__item filter-choices__item--choice filter-choices__item--selectable" role="option" data-choice="" data-id="3" data-value="sculpture" data-select-text="" data-choice-selectable="">Скульптура</div></div></div></div>
				</div>
					
					<div class="left-bottom">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad reprehenderit aperiam dolor officiis quod suscipit voluptatibus beatae unde sequi sunt consequatur consectetur incidunt, blanditiis porro ullam atque eaque aliquam aspernatur.</div>
				</div>
				<div class="gallery__slider">
					<div class="gallery__nav">
						<button class="nav-btn gallery__prev js-gallery-prev nav-btn--disabled" aria-label="К предыдущему слайду" disabled=""></button>
						<div class="gallery__pagination js-gallery-pagination swiper-pagination-fraction swiper-pagination-horizontal"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">4</span></div>
						<button class="nav-btn gallery__next js-gallery-next" aria-label="К следующему слайду"></button>
					</div>
					<div class="gallery__slides-container js-gallery-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-android swiper-watch-progress swiper-backface-hidden">
						<div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);"> 
							<a class="swiper-slide gallery__slide slide-visible swiper-slide-active" href="#" tabindex="0" style="width: 350px; margin-right: 50px;">
								<picture>
									<source srcset="img/gallery-slide-320-1.jpg" media="(max-width: 610px)">
									<source srcset="img/gallery-slide-768-1.jpg" media="(max-width: 970px)">
									<source srcset="img/gallery-slide-1024-1.jpg" media="(max-width: 1280px)">

									<!-- Здесь картинка от 1361 до 1920 и выше -->
									<img class="gallery__image" src="img/gallery-slide-1920-1.jpg" alt="">
								</picture>
							</a>
							<a class="swiper-slide gallery__slide slide-visible swiper-slide-next" href="#" tabindex="0" style="width: 350px; margin-right: 50px;">
								<picture>
									<source srcset="img/gallery-slide-320-2.jpg" media="(max-width: 610px)">
									<source srcset="img/gallery-slide-768-2.jpg" media="(max-width: 970px)">
									<source srcset="img/gallery-slide-1024-2.jpg" media="(max-width: 1280px)">


									<!-- Здесь картинка от 1361 до 1920 и выше -->
									<img class="gallery__image" src="img/gallery-slide-1024-2.jpg" alt="">
								</picture>
							</a>
							<a class="swiper-slide gallery__slide slide-visible" href="#" tabindex="0" style="width: 350px; margin-right: 50px;">
								<picture>
									<source srcset="img/gallery-slide-320-3.jpg" media="(max-width: 610px)">
									<source srcset="img/gallery-slide-768-3.jpg" media="(max-width: 970px)">
									<source srcset="img/gallery-slide-1024-3.jpg" media="(max-width: 1280px)">


									<!-- Здесь картинка от 1361 до 1920 и выше -->
									<img class="gallery__image" src="img/gallery-slide-1920-3.jpg" alt="">
								</picture>
							</a>
							<a class="swiper-slide gallery__slide" href="#" tabindex="-1" style="width: 350px; margin-right: 50px;">
								<picture>
									<source srcset="img/gallery-slide-320-4.jpg" media="(max-width: 610px)">
									<source srcset="img/gallery-slide-768-4.jpg" media="(max-width: 970px)">
									<source srcset="img/gallery-slide-1024-4.jpg" media="(max-width: 1280px)">


									<!-- Здесь картинка от 1361 до 1920 и выше -->
									<img class="gallery__image" src="img/gallery-slide-1920-4.jpg" alt="">
								</picture>
							</a>
							<a class="swiper-slide gallery__slide" href="#" tabindex="-1" style="width: 350px; margin-right: 50px;">
								<picture>
									<source srcset="img/gallery-slide-320-5.jpg" media="(max-width: 610px)">
									<source srcset="img/gallery-slide-768-5.jpg" media="(max-width: 970px)">
									<source srcset="img/gallery-slide-1024-5.jpg" media="(max-width: 1280px)">

									<!-- Здесь картинка от 1361 до 1920 и выше -->
									<img class="gallery__image" src="img/gallery-slide-1920-5.jpg" alt="">
								</picture>
							</a>
							<a class="swiper-slide gallery__slide" href="#" tabindex="-1" style="width: 350px; margin-right: 50px;">
								<picture>
									<source srcset="img/gallery-slide-320-6.jpg" media="(max-width: 610px)">
									<source srcset="img/gallery-slide-768-6.jpg" media="(max-width: 970px)">
									<source srcset="img/gallery-slide-1024-6.jpg" media="(max-width: 1280px)">

									<!-- Здесь картинка от 1361 до 1920 и выше -->
									<img class="gallery__image" src="img/gallery-slide-1920-6.jpg" alt="">
								</picture>
							</a>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>


	<!-- <section class="test">
		<div class="container">
		  <div class="content">
			<h2 class="title">Test title</h2>
			<p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum eos atque aperiam quidem ex velit alias, enim ea quia facilis expedita culpa rem, aspernatur praesentium modi corporis magnam ducimus tenetur?</p>
			<a href="#" class="btn">Click me</a>
		  </div>
		</div>
	  </section>
  
	  <div class="slider-wrapper">
		<div class="js-hero-swiper swiper-container slider">
		<div class="swiper-wrapper">
		  <div class="swiper-slide slide slide-1"></div>
		  <div class="swiper-slide slide slide-2"></div>
		  <div class="swiper-slide slide slide-3"></div>
		</div>
		<div class="swiper-pagination"></div>
	  </div>
	  </div> -->

</body>
</html>