:root {
	/* Color */
	--black: #000000;
	--dark: #333333;
	--dark-light: #585858;
	--white: #FFFFFF;
	--white-transparent-2: rgba(255, 255, 255, 0.2);
	--violet-light: #C283F3;
	--violet-dark: #7943A4;
	--violet-middle:  #9D5CD0;
	--violet-ultra-light: #D1A9F0;
	--transparent-dark: rgba(0, 0, 0, 0.5);
	--transparent-dark-9: rgba(0, 0, 0, 0.9);
	--transparent-rose: rgba(194, 131, 243, 0.4);
	--background-helper: grey;
	--dark-grey: #666666;
	--light-grey:  #ECECEC;
	--light-middle-gray: #CFCFCF;
	--easy-gray: #CACACA;
	--dark-grey-05: rgba(102, 102, 102, 0.5);
	--middle-gray: #999999;
	--disabled-gray: #888888;
	--red-bright: #D11616;
	
	/* Size */
	--container-max: 1700px;
	--container-padding: 50px;
	--burger-line: 3px;
  
	/* Transition*/
	--short: .3s;
	--middle: .5s;

	/* Media*/
	--full-hd: 1600px;
  }